body{
    background-color: skyblue;
}





#ComicsCont{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    text-align: center;
    font-size: 25px;
    justify-content: space-evenly;
    margin-top: 3em;
    row-gap: 30 px;

}
.Comics-img{

    flex-direction: row;
    margin-top: 2em;
    max-width: 170px;
    height: 200px;
    border-radius: 15px;
    border-color: brown solid;
    border: solid 3px;
}


#navHeader{
    text-align: center;
    font-size: 2em;
    border: black solid;

}
.btn-compra{
    color: rgb(206, 10, 10);
    border-radius: 5px;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-compra:hover{
    background-color: rgb(34, 34, 150);
    color: white;

}
