html{
    min-height: 100%;
    position: relative;
}

body{
   
    margin-bottom: 40px;
    background-color: skyblue;
}
#ComicsCont{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    text-align: center;
    font-size: 25px;
    justify-content: space-evenly;
    margin-top: 3em;
    row-gap: 30 px;

}
.Comics-img{

    flex-direction: row;
    margin-top: 2em;
    max-width: 170px;
    height: 200px;
    border-radius: 15px;
    border-color: brown solid;
    border: solid 3px;
}


#navHeader{
    text-align: center;
    font-size: 2em;
    border: black solid;

}

.imgComics{
    flex-direction: row;
    margin-top: 2em;
    max-width: 170px;
    height: 200px;
    border-radius: 15px;
    border-color: brown solid;
    border: solid 3px;


}
.btnCarrito{
    border-radius: 5px;
    border-color: black solid;
    font-family: Arial, Helvetica, sans-serif;

}
.btnCarrito:hover{
    background-color: red;
    color:bisque;
}
.btn-compra{
    color: rgb(206, 10, 10);
    border-radius: 5px;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.colorbtn{
    color:bisque;
    background-color: violet;
    border-radius: 5px;
    border-color: black solid;
    font-family: Arial, Helvetica, sans-serif;
}
.colorbtn:hover{
    color: black;
    background-color: bisque;
}
.btn-compra:hover{
    background-color: rgb(34, 34, 150);
    color: white;

}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border: 5px black solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: red;
}